.ArtistContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: white;
}

.ArtistContainer img {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.25rem black);
  width: 130px;
  height: 130px;
  background-color: black;
  margin-bottom: 5px;
}
