/*Song row stuff*/

.song-table {
  border-collapse: collapse;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  table-layout: fixed; /* Ensures that column widths are respected */
}

.song-table th,
.song-table td {
  border: none;
}

.song-table th {
  border: none;
  border-color: white;
  border-bottom: 0.5px;
  margin-bottom: 100px;
  border-bottom-style: solid;
  border-spacing: 30px;
}

.song-table td {
  overflow: hidden;  /* Prevent content overflow */
  white-space: nowrap;  /* Prevent wrapping in all columns */
  text-overflow: ellipsis; /* Apply ellipsis to overflowing text */
}

.song-table th:nth-child(1) {
  width: 65px; /* Image column */
}

.song-table th:nth-child(2) {
  width: 25%; /* Song name column */
}

.song-table td:nth-child(2) {
  padding-right: 10px;
}

.song-table th:nth-child(3) {
  width: 10%; /* Views column */
}

.song-table th:nth-child(4) {
  width: 40%; /* Album column */
}

.song-table th:nth-child(5) {
  width: 20%; /* Date created column */
}

.song-table th:nth-child(6) {
  width: 10%; /* Duration column */
}

.song-table td:nth-child(4), .song-table td:nth-child(5) {
  word-wrap: break-word;  /* Allow wrapping in album and date columns */
  white-space: normal; /* Allow text wrapping in these columns */
}
