.ticket-table {
  border-collapse: collapse;
  width: 100%;
}

.ticket-table th,
.ticket-table td {
  padding: 5px;
  border: solid 1px #777;
}

.ticket-table th {
  border: none;
  border-bottom-style: solid;
}

.ticket-table-separate {
  border-collapse: separate;
  border-spacing: 5px;
}
