#upload-playlist-menu {
  display: flex;
  flex-direction: column;
}

#upload-playlist-menu > ul {
  display: flex;
  flex-direction: column;
  background-color: red;
}

#upload-playlist-menu > ul > li {
  color: blue;
}

[hidden] {
  display: none !important;
}
