.Soundbar
{
  background: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  overflow: hidden;
  background-color: blue;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0;
}

.Soundbar ul
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li
{
  text-decoration: none;
}