.artists-page {
  width: 100%;
  height: 100%;
  background-size: cover;

  display: grid;
  gap: 0.75em;
  grid-template-areas:
    "header"
    "main";

  overflow-y: auto;
  user-select: none;
  scrollbar-gutter: stable; /*Keeps the page from shifting*/
}

.artists-layout {
  margin-top: 50px;
  justify-self: center;
  width: 90%;
}

.artists-layout h1 {
  margin: 0;
  overflow-x: hidden;
  height: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ArtistListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  list-style-type: none;
  overflow: auto;
}
