.playlist-page {
  width: 100%;
  height: 100%;

  align-self: center;
  justify-self: center;
  background-size: cover;

  display: grid;
  gap: 0.75em;
  grid-template-areas:
    "header"
    "main";

  overflow-y: auto;
  user-select: none;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #818181;
}

.Playlist-Layout {
  /* When song is active for a bit
  transition with this filter: opacity(0%);*/

  margin-left: 100px;
  margin-top: 50px;
}

.playlistHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.playlistHeader > img {
  height: 200px;
  width: 200px;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.playlistHeader .info {
  margin-left: 20px;
  flex-direction: column;
}

.playlistHeader h1 {
  margin: 0;
}
.playlistHeader .info h2 {
  color: rgb(197, 197, 197);
}

.text-bold {
  font-weight: bold;
}

.text-bigger {
  font-size: large;
}

.song-table > hr {
  min-width: 100%;
  color: white;
  background-color: white;
  border-color: white;
  border: 0;
  border-top: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Song row stuff*/

.song-table {
  display: grid;
  grid-template-columns: 62px 50% 20% 10%;
  row-gap: 10px;
  width: calc(100% - 150px);
  grid-auto-rows: 1fr;
  justify-content: center;
  margin-left: -45px;
}

.song-row {
  display: contents;
  user-select: none;
  background-color: rgba(136, 136, 136, 0.177);
  cursor: pointer;
}

.song-row:hover > div {
  background-color: rgba(136, 136, 136, 0.177);
}

.song-row > div > img {
  border-radius: 10%;

  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.audioGIF {
  filter: brightness(100) sepia(79%) saturate(1000%) hue-rotate(86deg);
}

.smallIcon {
  display: block;
  padding-left: 20%;
  padding-top: 20%;
  max-width: 25px;
  max-height: 25px;
}

.song-row-name {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 7px;
  /*padding-right: 50px;*/
}
/*
  filter: brightness(100) sepia(79%) saturate(1000%) hue-rotate(86deg);

        <img className="audioGIF"src={"https://open.spotifycdn.com/cdn/images/equaliser-animated-green.f5eb96f2.gif"} />

*/
.song-row-album {
  padding-top: 18.2px;
  padding-right: 50px;
}
.song-row-album a {
  color: white;
}
.song-row-album a:hover {
  color: #8dffff;
}
.song-row-date {
  padding-top: 18.2px;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
