#page {
  display: grid;

  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "nav  main"
    "foot  foot";

  background-color: black;
  color: white !important;

  gap: 0.75em;
  grid-template-rows: 1fr 75px;
  grid-template-columns: 300px 1fr;
  overflow-y: hidden;
}

.page-fullscreen {
  display: none;
}

#page > nav {
  grid-area: nav;
  overflow: hidden;
}

#page > #main-reg {
  grid-area: main;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  height: 100%;
  border-radius: 25px;
  overflow-y: hidden;
}

#page > #main-fullscreen {
  display: none;
}

#page > footer {
  grid-area: foot;
  width: 100vw;
  visibility: var(--playback);
}

:fullscreen {
  #page {
    grid-template-areas:
      "main"
      "foot";

    filter: opacity(0%);

    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    transition: all 0.75s ease-in;
    background: linear-gradient(45deg, #000000, #000000, #000000);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    filter: opacity(100%);
  }

  #page > nav {
    display: none;
  }

  #page > #main-reg {
    display: none;
  }

  #page > #main-fullscreen {
    transition: all 0.12s ease-in;
    display: block;
    overflow: hidden;
    width: 100vw;
  }

  #page > footer {
    grid-area: foot;
    width: 100vw;
    visibility: var(--playback);
    margin-top: "-4px";
    filter: drop-shadow(0 0 0.75rem black);
    text-shadow: 2px 1px 2.5px rgb(0 0 0 / 80%);
  }
}

.slidedown {
  transition: all 2s ease-out;
  margin-top: 70px;
}

.slideup {
  transition: all 1s;
  margin-top: 0;
}

button:hover {
  border-color: #8dffff;
}
