#page {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "nav  main"
    "foot  foot";
  grid-template-rows: 1fr 75px;
  grid-template-columns: 300px 1fr;
}

#page > nav {
  grid-area: nav;
  background-color: orange;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
}

