.Sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 19, 19);
  border-radius: 25px;
  overflow-y: scroll;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #818181;
}

.SidebarLogo a {
  color: red;
}

.SidebarLogo {
  display: flex;
  flex: row;
  column-gap: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  justify-self: center;
  align-self: center;
  margin-inline-start: 0;
  user-select: none;
  margin-left: 20px;
}

.SidebarLogo h2 {
  padding: 0px;
  margin: 0px;
  color: #8dffff;
}

.Sidebar hr {
  width: 90%;
}
